@model DuckTaleITTest.Models.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Std_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Std_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Std_LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Std_LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Std_Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Std_Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Std_Subjects)
        </dt>


        @foreach (var item in Model.Std_Subjects)
        {
            <dt>
                @Html.DisplayNameFor(model => item.Sub_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Sub_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.Sub_Marks)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Sub_Marks)
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Std_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
